/*================= Custom Styles =====================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  max-width: 100vw;
  background-color: #0d192b;
  font-family: Outfit, Arial, sans-serif;
  color: #8bacda;
  font-weight: 300;
}

hr {
  height: 2px;
  background-color: #2f415b;
  border: none;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*========= Card =========*/
section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #14253d;
  width: 28rem;
  padding: 1.2rem;
  border-radius: 1.35rem;
  -webkit-border-radius: 1.35rem;
  -moz-border-radius: 1.35rem;
  -ms-border-radius: 1.35rem;
  -o-border-radius: 1.35rem;
  /*========= Card Image =========*/
}

section img {
  height: 25rem;
  width: 25rem;
  border-radius: 1.35rem;
  -webkit-border-radius: 1.35rem;
  -moz-border-radius: 1.35rem;
  -ms-border-radius: 1.35rem;
  -o-border-radius: 1.35rem;
}

/*========= Card Image Hover Effects =========*/
.overlay {
  height: 25rem;
  width: 25rem;
  position: absolute;
}

.overlay:hover {
  display: block;
  background-color: #00fff7;
  background-image: url(../images/icon-view.svg);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.7;
  cursor: pointer;
}

/*========= Typography =========*/
h2 {
  color: #fff;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

h2:hover {
  color: #00fff7;
  cursor: pointer;
}

p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

/*========= Price section =========*/
.pricing, .creator {
  display: flex;
  align-items: center;
}

.pricing {
  justify-content: space-between;
  font-weight: 400;
}

.pricing span img {
  width: 1rem;
  height: 1rem;
}

.pricing span:nth-of-type(1) {
  color: #00fff7;
}

/*========= Creator section: Below the Horizontal Rule =========*/
.creator {
  margin-top: 1rem;
}

.creator img {
  height: 5rem;
  width: 5rem;
  margin-right: 1rem;
  border: 1px solid #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.creator span {
  color: #fff;
}

.creator span:hover {
  color: #00fff7;
  cursor: pointer;
}

/*========= Footer =========*/
.attribution {
  font-size: 0.785rem;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
